<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bncloud.mapper.ZcInformationRouteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.bncloud.information.entity.ZcInformationRoute">
        <id column="id" property="id" />
        <result column="routeType" property="routeType" />
        <result column="routeUrl" property="routeUrl" />
        <result column="templateId" property="templateId" />
        <result column="disabled" property="disabled" />
        <result column="tag_id" property="tagId" />
        <result column="parameter_template" property="parameterTemplate" />

    </resultMap>






</mapper>
