<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bncloud.financial.mapper.FinancialDeliveryDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.bncloud.financial.entity.FinancialDeliveryDetail">
        <id column="id" property="id"/>
        <result column="statement_id" property="statementId"/>
        <result column="item_no" property="itemNo"/>
        <result column="delivery_bill_id" property="deliveryBillId"/>
        <result column="bill_no" property="billNo"/>
        <result column="erp_bill_id" property="erpBillId"/>
        <result column="erp_bill_no" property="erpBillNo"/>
        <result column="delivery_num" property="deliveryNum"/>
        <result column="delivery_amount" property="deliveryAmount"/>
        <result column="delivery_date" property="deliveryDate"/>
        <result column="check_amount" property="checkAmount"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="have_tax" property="haveTax"/>
        <result column="confirmed_amount" property="confirmedAmount"/>
        <result column="check_quantity" property="checkQuantity"/>
        <result column="check_include_tax" property="checkIncludeTax"/>
        <result column="check_not_tax_amount" property="checkNotTaxAmount"/>
        <result column="check_tax_amount" property="checkTaxAmount"/>
        <result column="customer_confirm" property="customerConfirm"/>
        <result column="remark" property="remark"/>
        <result column="delivery_remark" property="deliveryRemark"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectListPage" resultMap="BaseResultMap">
        select * from t_financial_delivery_detail
        <where>1=1 and is_deleted = 0
            <if test="pageParam.searchValue != null">
                and (
                (erp_bill_no like CONCAT('%',#{pageParam.searchValue},'%'))or
                ( bill_no like CONCAT('%',#{pageParam.searchValue},'%'))
                )
            </if>
            <if test="pageParam.param.statementId != null ">and statement_id = #{pageParam.param.statementId}</if>
            <if test="pageParam.param.itemNo != null ">and item_no like CONCAT('%',#{pageParam.param.itemNo},'%')</if>
            <if test="pageParam.param.remark != null ">and remark like CONCAT('%',#{pageParam.param.remark},'%')</if>
            <if test="pageParam.param.deliveryRemark != null ">and delivery_remark like
                CONCAT('%',#{pageParam.param.deliveryRemark},'%')
            </if>
            <if test="pageParam.param.createdBy != null ">and created_by = #{pageParam.param.createdBy}</if>

            <if test="pageParam.param.lastModifiedBy != null ">and last_modified_by =
                #{pageParam.param.lastModifiedBy}
            </if>

        </where>

    </select>


    <select id="querySummaryAmountByStatementId" resultType="net.bncloud.financial.entity.FinancialStatement">

        SELECT
            IFNULL( sum( check_include_tax ) ,0 ) AS shipment_including_tax ,
            IFNULL( sum( check_not_tax_amount ),0 ) AS shipment_not_tax ,
            IFNULL( sum( check_include_tax - check_not_tax_amount ) ,0 ) as shipment_tax_amount
        FROM
            t_financial_delivery_detail
        WHERE
            is_deleted = '0'
          AND statement_id = #{statementId}
    </select>

    <select id="queryNextItemNo" resultType="java.lang.String">
        select IFNULL(max(item_no),0)+1 from t_financial_delivery_detail
        WHERE
            is_deleted = '0'
          AND statement_id = #{statementId}
    </select>


</mapper>
