<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bncloud.contract.mapper.AttachmentRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.bncloud.contract.entity.AttachmentRel">
        <id column="id" property="id" />
        <result column="business_form_id" property="businessFormId" />
        <result column="attachment_id" property="attachmentId" />
        <result column="business_code" property="businessCode" />
        <result column="business_name" property="businessName" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
