<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bncloud.quotation.mapper.MaterialFormExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.bncloud.quotation.entity.MaterialFormExt">
        <id column="id" property="id" />
        <result column="material_form_id" property="materialFormId" />
        <result column="type" property="type" />
        <result column="title" property="title" />
        <result column="field" property="field" />
        <result column="value" property="value" />
        <result column="required" property="required" />
        <result column="order_value" property="orderValue" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>


    <select id="selectListPage" resultMap="BaseResultMap">
        select * from t_rfq_material_form_ext
             <where> 1=1 and is_deleted = 0
         <if test="pageParam.searchValue != null">
--              and (
--              (t1.supplier_name like CONCAT('%',#{pageParam.searchValue},'%'))or
--              ( t1.supplier_code like CONCAT('%',#{pageParam.searchValue},'%'))or
--              ( t1.purchase_order_code like CONCAT('%',#{pageParam.searchValue},'%'))
--              )
         </if>
        <if test="pageParam.param.materialFormId != null ">and  material_form_id = #{pageParam.param.materialFormId} </if>
                                                                    <if test="pageParam.param.type != null ">and  type like CONCAT('%',#{pageParam.param.type},'%') </if>
                                            <if test="pageParam.param.title != null ">and  title like CONCAT('%',#{pageParam.param.title},'%') </if>
                                            <if test="pageParam.param.field != null ">and  field like CONCAT('%',#{pageParam.param.field},'%') </if>
                                            <if test="pageParam.param.value != null ">and  value like CONCAT('%',#{pageParam.param.value},'%') </if>
                                            <if test="pageParam.param.required != null ">and  required like CONCAT('%',#{pageParam.param.required},'%') </if>
                                            <if test="pageParam.param.orderValue != null ">and  order_value like CONCAT('%',#{pageParam.param.orderValue},'%') </if>
                                            <if test="pageParam.param.createdBy != null ">and  created_by = #{pageParam.param.createdBy} </if>
                                                            
                                            <if test="pageParam.param.lastModifiedBy != null ">and  last_modified_by = #{pageParam.param.lastModifiedBy} </if>
                                                            
                                                          </where>

            </select>











</mapper>
