<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bncloud.quotation.mapper.QuotationMarkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.bncloud.quotation.entity.QuotationMark">
        <id column="id" property="id" />
        <result column="quotation_id" property="quotationId" />
        <result column="mark_status" property="markStatus" />
        <result column="supplier_id" property="supplierId" />
        <result column="created_by" property="createdBy" />
        <result column="created_date" property="createdDate" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="last_modified_date" property="lastModifiedDate" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>


    <select id="selectListPage" resultMap="BaseResultMap">
        select * from t_rfq_quotation_mark
             <where> 1=1 and is_deleted = 0
         <if test="pageParam.searchValue != null">
--              and (
--              (t1.supplier_name like CONCAT('%',#{pageParam.searchValue},'%'))or
--              ( t1.supplier_code like CONCAT('%',#{pageParam.searchValue},'%'))or
--              ( t1.purchase_order_code like CONCAT('%',#{pageParam.searchValue},'%'))
--              )
         </if>
        <if test="pageParam.param.quotationId != null ">and  quotation_id = #{pageParam.param.quotationId} </if>
                                                                    <if test="pageParam.param.markStatus != null ">and  mark_status like CONCAT('%',#{pageParam.param.markStatus},'%') </if>
                                            <if test="pageParam.param.createdBy != null ">and  created_by = #{pageParam.param.createdBy} </if>
                                                            
                                            <if test="pageParam.param.lastModifiedBy != null ">and  last_modified_by = #{pageParam.param.lastModifiedBy} </if>
                                                            
                                                          </where>

            </select>


</mapper>
