<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bncloud.quotation.mapper.QuotationSupplierMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.bncloud.quotation.vo.QuotationSupplierVo">
        <id column="id" property="id"/>
        <result column="quotation_base_id" property="quotationBaseId"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="supplier_account" property="supplierAccount"/>
        <result column="supplier_code" property="supplierCode"/>
        <result column="supplier_name" property="supplierName"/>
        <result column="supplier_type" property="supplierType"/>
        <result column="platform_type" property="platformType"/>
        <result column="response_status" property="responseStatus" />
        <result column="response_time" property="responseTime" />
        <result column="receiver" property="receiver" />
        <result column="phone" property="phone"/>
        <result column="email" property="email" />
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectListPage" resultMap="BaseResultMap">
        select * from t_rfq_quotation_supplier
        <where>1=1 and is_deleted = 0
            <if test="pageParam.searchValue != null">
                 and (
                    ( supplier_name like CONCAT('%',#{pageParam.searchValue},'%')) or
                    (  supplier_code like CONCAT('%',#{pageParam.searchValue},'%'))
                 )
            </if>
            <if test="pageParam.param.quotationBaseId != null ">and quotation_base_id =
                #{pageParam.param.quotationBaseId}
            </if>
            <if test="pageParam.param.supplierId != null ">and supplier_id = #{pageParam.param.supplierId}</if>
            <if test="pageParam.param.supplierAccount != null ">and supplier_account like
                CONCAT('%',#{pageParam.param.supplierAccount},'%')
            </if>
            <if test="pageParam.param.supplierCode != null ">and supplier_code like
                CONCAT('%',#{pageParam.param.supplierCode},'%')
            </if>
            <if test="pageParam.param.supplierName != null ">and supplier_name like
                CONCAT('%',#{pageParam.param.supplierName},'%')
            </if>
            <if test="pageParam.param.supplierType != null ">and supplier_type like
                CONCAT('%',#{pageParam.param.supplierType},'%')
            </if>
            <if test="pageParam.param.platformType != null ">and platform_type like
                CONCAT('%',#{pageParam.param.platformType},'%')
            </if>
            <if test="pageParam.param.createdBy != null ">and created_by = #{pageParam.param.createdBy}</if>

            <if test="pageParam.param.lastModifiedBy != null ">and last_modified_by =
                #{pageParam.param.lastModifiedBy}
            </if>

        </where>

    </select>

    <delete id="deleteByQuotationBaseId">
        delete from t_rfq_quotation_supplier
            where quotation_base_id = #{quotationBaseId}
    </delete>


</mapper>
