<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bncloud.quotation.mapper.QuotationEquipmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.bncloud.quotation.entity.QuotationEquipment">
        <id column="id" property="id"/>
        <result column="quotation_base_id" property="quotationBaseId"/>
        <result column="equipment_code" property="equipmentCode"/>
        <result column="equipment_name" property="equipmentName"/>
        <result column="param" property="param"/>
        <result column="production_precision" property="productionPrecision"/>
        <result column="description" property="description"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectListPage" resultMap="BaseResultMap">
        select * from t_rfq_quotation_equipment
        <where>1=1 and is_deleted = 0
            <if test="pageParam.searchValue != null">
                -- and (
                -- (t1.supplier_name like CONCAT('%',#{pageParam.searchValue},'%'))or
                -- ( t1.supplier_code like CONCAT('%',#{pageParam.searchValue},'%'))or
                -- ( t1.purchase_order_code like CONCAT('%',#{pageParam.searchValue},'%'))
                -- )
            </if>
            <if test="pageParam.param.quotationBaseId != null ">and quotation_base_id =
                #{pageParam.param.quotationBaseId}
            </if>
            <if test="pageParam.param.equipmentCode != null ">and equipment_code like
                CONCAT('%',#{pageParam.param.equipmentCode},'%')
            </if>
            <if test="pageParam.param.equipmentName != null ">and equipment_name like
                CONCAT('%',#{pageParam.param.equipmentName},'%')
            </if>
            <if test="pageParam.param.param != null ">and param like CONCAT('%',#{pageParam.param.param},'%')</if>
            <if test="pageParam.param.productionPrecision != null ">and production_precision like
                CONCAT('%',#{pageParam.param.productionPrecision},'%')
            </if>
            <if test="pageParam.param.description != null ">and description like
                CONCAT('%',#{pageParam.param.description},'%')
            </if>
            <if test="pageParam.param.createdBy != null ">and created_by = #{pageParam.param.createdBy}</if>

            <if test="pageParam.param.lastModifiedBy != null ">and last_modified_by =
                #{pageParam.param.lastModifiedBy}
            </if>

        </where>

    </select>

    <delete id="deleteByQuotationBaseId">
        delete from t_rfq_quotation_equipment
        where quotation_base_id = #{quotationBaseId}
    </delete>


</mapper>
